* {
    display: flex;
    justify-content: center;
    background-color: #4D4D4D;
    height: 51.91rem;
    width: 100%;
}

.home-img {
    margin-top: 15px;
    height: 50rem;
    width: 50rem;
    opacity: 45%;
}