<nav class="nav__cont">
  <ul class="nav">
    <li class="nav__items ">
        <i class="fas fa-code fa-lg code-icon"></i>
        <a routerLink="/programacao" class="menu-title">Programação</a>
    </li>
    
    <li class="nav__items ">
        <i class="fas fa-database fa-lg code-icon code-icon-database"></i>
        <a class="menu-title" href="">Database</a>
    </li>
      
    <li class="nav__items ">
        <i class="fas fa-laptop-code fa-lg code-icon"></i>
        <a class="menu-title" href="">QA</a>
    </li>        
  </ul>
</nav>

